*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.choiceBtn{
line-height: 30px;
width: 150px;
border-radius: 5px;
color: #ffffff;
background-color: #000;
margin-top: 20px;
transition: all 800ms;
font-weight: 800;
}
.choiceBtn:hover{
    color: #000;
    background-color: #ffffff;
    transition: all 500ms;
}
.exitBtn{
    line-height: 30px;
    width: 110px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #c50404;
    font-weight: 800;
    transition: all 800ms;
    }
    .exitBtn:hover{
        color: #ffffff;
        background-color: #700c0c;
        transition: all 500ms;
    }
#playerText{
    color: white;
}
#computerText{
    color: #87ceeb;
}
#resultText{
    color: #87ceeb;
}
#gameDiv{
    font-family: cursive;
    box-shadow: 0px 0px 10px #fff;
    border-radius: 25px;
    padding: 15px;
    background-color: sky;
    text-align: center;
}
body{
    margin: 10vh;
}
@media only screen and (max-width:620px) {
    .choiceBtn,
    .exitBtn{
        margin:5px;
        width: 95px;
    }
}